<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}

        {{ form_start(form) }}
        <br><br>
            {{ form_row(form.titre) }}
        <br><br>
            {{ form_row(form.contenu) }}
        <br><br>
            {{ form_row(form.auteur) }}
        <br><br>

        <input type="submit" value="Enregistrer l'article" />

        {{ form_end(form) }}
        <br><br>

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
