<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% for key,article in articles %}

                  <h1>{{ article.getTitre()| upper }}</h1>
                  <td>{{ article.getContenu() }}</td>
                  <br><br>
                  <td>Auteur : {{ article.getAuteur() }}</td>

                  <br><br>
                <a href="{{ path('article_view_url', {'id':article.id} ) }}">Consulter l'article - </a>
                <a href="{{ path ('accueil') }}">Accueil</a>


            {% endfor %}
<br><br>



            <div class="navigation">
                {{ knp_pagination_render(articles) }}
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
